body{
    background-image:url(../../Image/backbody1.jpg);
    background-repeat:repeat;
}
@font-face {
    font-family: 'Zar';
    src: url('Font/BZar.eot?#') format('eot'), /* IE6–8 */
    url('Font/BZar.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('Font/BZar.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'Nazanin';
    src: url('Font/BNazanin.eot?#') format('eot'), /* IE6–8 */
    url('Font/BNazanin.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('Font/BNazanin.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'Roya';
    src: url('Font/BRoya.eot?#') format('eot'), /* IE6–8 */
    url('Font/BRoya.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('Font/BRoya.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

/*@font-face {
	font-family: 'yekan';
	src: url('Font/W_YEKAN.eot');
    src: url('Font/W_YEKAN.eot?#iefix') format('embedded-opentype'),
	url('Font/W_YEKAN.woff') format('woff'), url('Font/W_YEKAN.ttf') format('truetype'), url('Font/W_YEKAN.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
    font-family: 'W_Yekan';
    src: url('Font/W_YEKAN.woff') format('woff'), url('Font/W_YEKAN.eot') format('embedded-opentype'), url('Font/W_YEKAN.otf') format('opentype'), url('Font/W_YEKAN.svg') format('svg'), url('Font/W_YEKAN.ttf') format('truetype');
}

*{
    font-family:Nazanin;
    font-size:15px;
}
.gv{
    font-family:W_Yekan !important;
}

.imgHeader{
    /*background-image:url(../../Image/head3.png);*/
    height:150px;
    margin-bottom:10px;
    width:100%;
}