<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MainMaster.master.cs" Inherits="Taxi.rtl.MainMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="description" content="Qom Taxi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title></title>
  
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
    <link rel="icon" href="images/favicon.png" sizes="48x48" type="image/png"/>
    <link rel="shortcut icon" href="images/favicon.png" type="image/png"/>
    <link rel="stylesheet" href="/App_Themes/Theme1/Css/bootstrap.min.css" />
    <link href="/App_Themes/Theme1/Css/ace.min.css" rel="stylesheet" />
    <link href="/App_Themes/Theme1/Css/Font/font-awesome.min.css" rel="stylesheet" />
    <link href="/App_Themes/Theme1/Css/WebFonts.css" rel="stylesheet" />
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
    <script src="/App_Themes/Theme1/js/jquery.min.js"></script>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
        
    

    <asp:ContentPlaceHolder ID="HeadContentPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="no-skin rtl" >
    <form id="MainMasterform" runat="server" >
        <div>
            <asp:ContentPlaceHolder ID="MainContentPlaceHolder" runat="server">




            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>

